body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1166px; /* 1136+15+15 */
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region heeader*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый */
  backdrop-filter: blur(10px); /* Эффект матового стекла */
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-logo-italic {
  font-style: italic;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 90px;
}

.header-menu-list {
  display: flex;
  gap: 20px;
}

.header-menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
}

.current {
  color: #fd9222;
}

.current::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 100%;
  height: 4px;
  background-color: #fd9222;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fd9222;
}

.icon-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: block;
}

.icon-hero {
  fill: #fd9222;
  display: block;
}

.hero-scroll-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: #fff;
}

.hero-scroll-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;

  transition: background-color 300ms ease;
}

.icon-link:hover,
.icon-link:focus {
  color: #fd9222;
  outline: none;
}

.hero-scroll-link:hover .hero-scroll-icon {
  background-color: #fd9222;
}

.hero-scroll-link:hover .icon-hero {
  fill: #fff;
  stroke: #fff;
}

/* #endregion heeader*/

/* #region hero */

.hero {
  margin: 0 auto;
  max-width: 100%;
  background-color: #1e1823;
  margin-bottom: 72px;
  border-radius: 30px;

  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../images/chocolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapp {
  padding: 375px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-buttons {
  display: flex;
  gap: 14px;
}

.hero-anchor-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-anchor-link:hover,
.hero-anchor-link:focus {
  color: #fd9222;
  background-color: #fcf1e0;
  border: 1px solid #fd9222;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #fd9222;
}

/* #endregion hero */

/*#region benefits */

.benefits {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding-bottom: 18px;
}

.benefits-list {
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  gap: 70px;
}

.benefits-item {
  width: calc(100%-70px * 2) / 3;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*#endregion benefits */

/* #region taste */

.taste {
  padding-top: 50px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  position: relative;
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: calc(100% - 57px) / 4;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 300ms ease;
}

.taste-item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.taste-item:hover {
  box-shadow: 0px 4px 20px rgba(253, 146, 34, 0.2);
}

.taste-block {
  padding: 28px 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition:
    transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tag-list {
  display: flex;
  gap: 6px;
  list-style: none;
  margin-bottom: 14px;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 35px;
  font-size: 10px;
  line-height: 1.2;
}

.tag-filled {
  background-color: #fd9222;
  color: #ffffff;
  border: 1px solid #fd9222;
}

.tag-outline {
  background-color: transparent;
  color: #111111;
  border: 1px solid #fd9222;
}

.overlay-suptitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-item:nth-child(1) {
  background-color: #fd9222;
  border: none;
  .taste-suptitle {
    color: #fff;
  }
}

.taste-item:nth-child(3) {
  background-color: #1e1823;
  border: none;
  .taste-suptitle {
    color: #fff;
  }
}

.taste-img {
  margin-bottom: 36px;
}

.taste-suptitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.overlay-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
/* #endregion taste */

/* #region made*/

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-title {
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.made-image {
  min-width: 50%;
  border-radius: 15px;
  min-width: 50%;
  height: 400px;
}

.made-suptitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  margin-bottom: 28px;
}

.made-section-container {
  display: flex;
  gap: 20px;
}

.made-content {
  border-radius: 15px;
  flex-grow: 1;
  background: #fff;
  padding: 32px;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.made-item {
  margin-bottom: 24px;
}

.made-item:last-child {
  margin-bottom: 0;
}
/* #endregion made*/

/* #region review*/

.review {
  padding-top: 50px;
  padding-bottom: 100px;
}

.review-title {
  max-width: 268px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.review-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.review-item {
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  flex-basis: calc((100% - 2 * 28px) / 3);

  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 0 24px 24px 24px;
  margin-top: 40px;
}

.review-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-suptitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
  margin-top: 56px;
}

.review-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.review-btn:hover {
  background-color: #fd9222;
  color: #fff;
}

/* #endregion review*/

/* #region Footer */

.footer {
  padding-top: 50px;
  padding-bottom: 86px;
  background-color: #1e1823;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-address-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;

  color: #fff;
  margin-bottom: 14px;
}

.footer-address {
  font-style: normal;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-adr-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
}

.footer-adr-link:hover,
.footer-adr-link:focus {
  color: #fd9222;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  color: #fff;
  outline: none;
  transition: border-color 0.3s;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.footer-input:focus {
  border-color: #fd9222;
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;

  height: 52px;
  background: #fd9222;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.footer-btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

/* #endregion Footer */

/* #region backdrop */

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, opacity, pointer-events;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  padding: 38px 40px 40px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon-btn-close {
  stroke: #111111;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  transition: stroke 250ms ease;
}

.close-btn:hover .icon-btn-close,
.close-btn:focus .icon-btn-close {
  stroke: #fd9222;
}

.modal-text {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 42px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.modal-form-input-cont {
  position: relative;
  margin-bottom: 18px;
}

.modal-form-input {
  width: 100%;
  padding-left: 62px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  outline: transparent;
}

.modal-form-input:focus {
  border: 1px solid #fd9222;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;

  fill: transparent;
  stroke: #111;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}

.cont-user-text {
  margin-bottom: 25px;
}

.user-coment {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px;
  width: 436px;
  height: 137px;
}

.user-coment:focus {
  border: 1px solid #fd9222;
  outline: transparent;
}

.modal-form-con-chexbox {
  margin-bottom: 40px;
}

.custom-chekbox {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 12px;
}

.label-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.label-checkbox a {
  text-decoration: underline;
  color: #fd9222;
}

.checkbox:checked + .label-checkbox .custom-chekbox {
  background-color: #fd9222;
  border: transparent;
  fill: #fff;
}

.form-btn {
  border-radius: 100px;
  padding: 14px 40px;
  width: 117px;
  height: 45px;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
/* #endregion backdrop */
